/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic&subset=latin-ext);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=latin-ext);
/* OVERALL ASPECT */

body {
	background-color: #f0f7fc;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    color: #404040;
	line-height: 24px;
    -webkit-overflow-scrolling: touch;
    margin-top: 80px;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans Condensed";
    font-weight: 700;
    color: #003366;
	margin: 0 0 28px;
}

h1 {
	text-transform: uppercase;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}

.under {
	padding-bottom: 10px;
	margin-bottom: 0;
	border-bottom: 4px solid #d9e7f3;
	display: inline-block;
}

/* Paragraph & Typographic */
p {
    line-height: 24px;
    margin-bottom: 24px;
}

.block {
	border-top: 1px solid #d9e7f3;
	padding-top: 27px;
	clear: left;
}

.centered {
    text-align: center;
}

ul.odrazka {
	padding-left: 0;
}

ul.odrazka li {
	list-style: none;
	padding-left: 26px;
	background: url(../img/odrazka.png) no-repeat 10px 8px; 
}

/* Links */
a {
    color: #f85c37;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.navbar {
	font-weight: 800;
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar-inverse {
	background: #003366;
	border-color: #003366;
}

.navbar-inverse .navbar-nav > .active > a {
	background: #7CA60A;
}

.navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .open > a:focus {
	background: #A9D2E8;
}

.navbar-inverse .navbar-brand {
	color: #999999;
	font-weight: bolder;
	font-size: 22px;
	letter-spacing: 1px;
}

.navbar-inverse .navbar-brand i {
	color: #ff7878;
	font-size: 22px;
	letter-spacing: 1px;
}

/*TILT*/
.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.tilt:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url(../img/header2.jpg) no-repeat center top;
	margin-top: -10px;
	padding-top:20px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	border-bottom: 5px solid #ddd;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	margin-top: 100px;
	color: #003366;
	font-size: 48px;
	font-weight: 700;
}

#headerwrap h2 {
	color: white;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}	

/* Dark Grey Wrap */
#dg {
	background: #e0e0e0;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}

#dg h4 {
	font-weight: 700;
}

/* Blue Wrap */
.bw {
	padding: 20px 20px 1px 20px;
	margin-bottom: 56px;
	text-align: left;
	background: rgb(255, 255, 255);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border: 1px solid #d9e7f3;
}

.bw p {
	font-size: 14px;
	line-height: 24px;
}

.bw h3 {
	color: #7CA60A;
}

/* Light Grey */
#lg {
	background: #daedf7;
	padding-top: 47px;
	border-top: 1px solid #A9D2E8;
	padding-bottom: 48px;
	text-align: center;
}

#lg h4 {
	font-weight: 700;
}


/* Red Wrap */
#r {
	background: #9dc531;
	padding-top: 48px;
	padding-bottom: 48px;
}

#r h4 {
	color: white;
	font-weight: 700;
	margin-bottom: 0px;
}

#r p {
	color: white;
}

/* Blue Wrap */

#blue {
	padding-top: 48px;
	padding-bottom: 48px;
	/* background-image: -o-linear-gradient(right, rgb(128, 193, 254) 0%, rgb(77, 144, 251) 50%, rgb(128, 193, 254) 100%);
	background-image: -moz-linear-gradient(right, rgb(128, 193, 254) 0%, rgb(77, 144, 251) 50%, rgb(128, 193, 254) 100%);
	background-image: -webkit-linear-gradient(right, rgb(128, 193, 254) 0%, rgb(77, 144, 251) 50%, rgb(128, 193, 254) 100%);
	background-image: -ms-linear-gradient(right, rgb(128, 193, 254) 0%, rgb(77, 144, 251) 50%, rgb(128, 193, 254) 100%);
	background-image: linear-gradient(to right, rgb(128, 193, 254) 0%, rgb(77, 144, 251) 50%, rgb(128, 193, 254) 100%); */
	background: url(../img/header2.jpg) no-repeat center top;
}

#blue h3 {
	color: #003366;
	font-weight: 400;
	margin-bottom: 0;
}

#blue p {
	color: white;
}

/* Footer Wrap */
#f {
	background: #00264d;
	color: #fff;
}

#f i {
	color: #bdbdbd;
	font-size: 28px;
	padding: 0px;
}

#f i:hover {
	color: #ff7878;
}

#f h3 {
	color: #aaa;
	padding-top: 56px;
	padding-left: 80px;
}

/****** SECTIONS *****/

.w {
	padding-top: 72px;
}

.w h4 {
	font-weight: 700;
}

.w img {
	padding-top: 72px;
	opacity: 0.7;
}


.wb {
	padding-top: 72px;
	margin-bottom: 0px;
}

.wb h4 {
	font-weight: 700;
}

.desc {
	padding-top: 35px;
}

.desc h4 {
	font-weight: 700;
}

.desc i {
	color: #ff7878;
	font-size: 12px;
	padding: 5px;
}

/***** MODAL CONTACT *****/
.modal-content {
	border-radius: 0px;

}

.modal-header {
	background: #bdbdbd;
	color: white;
}

.modal-header h4 {
	font-weight: 700;
}

.modal-body {
	background: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
}

.modal-footer {
	background: #f2f2f2;
	margin-top: 0px; 
}

/* ==========================================================================
   Pricing Tables
   ========================================================================== */
   
.pricing-option {
    padding-bottom: 40px;
}

.pricing-option .pricing-top {
    position: relative;
    background: #222;
    color: white;
    text-align: center;
    font-weight: bold;

    padding: 40px 20px 30px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pricing-option .pricing-top .special-label {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #1abc9c;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding: 3px 0;
}

.special .pricing-top {
    background: black;
}

.pricing-option .pricing-edition {
    text-transform: uppercase;
    display: block;
    font-size: 25px;
    letter-spacing: 8px;
}

.pricing-option .price {
    display: inline-block;
    position: relative;
}

.pricing-option .price sup {
    position: absolute;
    top: 50px;
    left: -10px;
    font-size: 24px;
}

.pricing-option .price .price-amount {
    font-size: 108px;
    letter-spacing: -4px;
}

.pricing-option .price small {
    position: relative;
    left: -10px;
    font-size: 18px;
}

.pricing-option ul {
    list-style: none;
    margin: 0;
    background: #eee;
    text-align: center;
    padding-left: 0px;
}

.pricing-option ul li {
    border-bottom: solid 1px #e1e1e1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pricing-option .pricing-signup {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 10px;
    color: white;
    background: #1abc9c;
}

.pricing-option .pricing-signup:hover {
    background: #ff7878;
}

/* dropdown */
.navbar-right .dropdown-menu {
    left: 0;
    right: auto;
}

.dropdown-menu li.active a, .dropdown-menu li.active a:hover {
	background: #fff;
	color: red;
	font-weight: bold;
}

.dropdown-menu > li > a {
    clear: both;
    color: #333333;
    display: block;
    font-weight: normal;
    line-height: 1.42857;
    padding: 8px 20px;
    white-space: nowrap;
}

.dropdown-menu > li > a:hover {
	background: #A9D2E8;
}

.dropdown-menu .divider {
    background-color: #E5E5E5;
    height: 1px;
    margin: 0;
    overflow: hidden;
}

#map {
	height: 500px;
}

.dl-horizontal {
	margin: 24px 0 48px;
	line-height: 24px !important;
}

.dl-horizontal dt {
    width: 60px;
}

.dl-horizontal dd {
    margin-left: 80px;
	margin-bottom: 14px;
}
/* product tabs */
#myTab {
	padding-right: 0;
}

.nav-pills {
	margin-right: -1px;
}

.nav-pills > li, .nav-stacked > li + li {
	margin-top: 0;
	border-radius: 0;
}

.nav-pills > li > a, .nav-pills > li > a:hover, .nav-pills > li > a:focus {
   background-color: transparent;
	color: #404040;
	text-transform: uppercase;
}

.nav-pills > li {
    background-color: transparent;
    border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border: 1px solid #f0f7fc;
	border-right: 1px solid #d9e7f3;
	border-bottom: 1px solid #d9e7f3;
}

.nav-pills > li.active {
    background-color: #fff;
    border-radius: 4px 0px 0px 4px/4px;
	-webkit-border-radius: 4px 0px 0px 4px/4px;
	-moz-border-radius: 4px 0px 0px 4px/4px;
	border: 1px solid #d9e7f3;
	border-right: 1px solid #fff;
	z-index: 10 !important;
	margin-top: -1px;
	padding-top: 1px;
}	

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #fff;
    color: #4C9AC9;
    font-weight: bold;
}

.tab-content {
	background: rgb(255, 255, 255);
	border-radius: 0px 4px 4px 4px/4px;
	-webkit-border-radius: 0px 4px 4px 4px/4px;
	-moz-border-radius: 0px 4px 4px 4px/4px;
	border: 1px solid #d9e7f3;
	padding: 24px 24px 48px;
	margin-top: -1px;
}

@media screen and (max-width: 1199px) {
.nav-stacked > li {
    float: left;
}

.nav-pills > li {
    background-color: transparent;
    border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border: 1px solid #f0f7fc;
}

.nav-pills > li.active {
    background-color: #fff;
    border-radius: 4px 4px 0 0;
	-webkit-border-radius:4px 4px 0;
	-moz-border-radius: 4px 4px 0 0;
	border: 1px solid #d9e7f3;
	border-bottom: 1px solid #fff;
	z-index: 10 !important;
	margin-bottom: -1px;
	padding-bottom: 1px;
}
}

.product {
	padding: 28px 0;
	margin-bottom: 56px;
	position: relative;
}

.product h3 {
	margin: 24px 0;
}

.red {
color: red;
font-weight: bold;
}

/* icons */
ul.contacts li {
	margin-bottom: 12px;
}

.map {
	background: url(../img/icons/map.svg) left top no-repeat;
	padding-left: 48px;
}

.mobil {
	background: url(../img/icons/mobil.svg) left center no-repeat;
	padding-left: 48px;
}

.tel {
	background: url(../img/icons/tel.svg) left center no-repeat;
	padding-left: 48px;
}

.fax {
	background: url(../img/icons/fax.svg) left center no-repeat;
	padding-left: 48px;
}

.email {
	background: url(../img/icons/email.svg) left center no-repeat;
	padding-left: 48px;
}

.home {
	background: url(../img/icons/home.svg) left top no-repeat;
	padding-left: 48px;
}

.empty {
	background: transparent;
	padding-left: 48px;
}

.map {
	background: url(../img/icons/map.svg) left top no-repeat;
	padding-left: 48px;
}

.img-wraper {
	max-width: 100%;
}

.img-wraper img {
	max-width: 100% !important;
    height: auto;
    display: block;
}