	<div id="f">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-8  col-md-8" id="map">
				</div>
				<div class="col-lg-4  col-md-4 col-sm-12 col-xs-12">
					<h3>Kontaktujte nás</h3>
					<dl class="dl-horizontal kontakt">
						<dt><img src="assets/img/icons/map-bily.png" alt="adresa"></dt>
						<dd>KLIMAT SERVIS<br>
							Hornoměcholupská&nbsp;20<br>
							Praha&nbsp;10<br>
						</dd>
						<dt><img src="assets/img/icons/mobil-bily.png" alt="mobil"></dt>
						<dd>(+420) 603&nbsp;483&nbsp;437<br>
							(+420) 271&nbsp;961&nbsp;680
						</dd>
						<dt><img src="assets/img/icons/email-bily.png" alt="email"></dt>
						<dd><a target="_blank" href="mailto:znamenacek@klimatservis.cz?Subject=Dotaz">znamenacek@klimatservis.cz</a></dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
<div id="fb-root"></div>
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/js/jquery-1.11.0.min.js"><\/script>')</script>
<script src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&sensor=false"></script>
<script src="assets/js/main.js"></script>
</body>
</html>