	<div id="f">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-8  col-md-8" id="map">
				</div>
				<div class="col-lg-4  col-md-4 col-sm-12 col-xs-12">
					<h3>Kontaktujte nás</h3>
					<dl class="dl-horizontal kontakt">
						<dt><img src="assets/img/icons/map-bily.svg" alt=""></dt>
						<dd>KLIMAT SERVIS<br>
							Hornoměcholupská&nbsp;20<br>
							Praha&nbsp;10<br>
						</dd>
						<dt><img src="assets/img/icons/mobil-bily.svg" alt=""></dt>
						<dd>(+420) 603&nbsp;483&nbsp;437<br>
							(+420) 271&nbsp;961&nbsp;680
						</dd>
						<dt><img src="assets/img/icons/email-bily.svg" alt=""></dt>
						<dd><a target="_blank" href="mailto:znamenacek@klimatservis.cz?Subject=Dotaz">znamenacek@klimatservis.cz</a></dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&sensor=false"></script>
     <script type="text/javascript">
google.maps.event.addDomListener(window, 'load', init);
var myLatlng = new google.maps.LatLng(50.052079, 14.532550);

function init() {
// see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
	var mapOptions = {
		zoom: 14,
		center: myLatlng,
// generated: Snazzy Maps
		styles: [{"featureType":"landscape","stylers":[{"hue":"#F1FF00"},{"saturation":-27.4},{"lightness":9.4},{"gamma":1}]},{"featureType":"road.highway","stylers":[{"hue":"#0099FF"},{"saturation":-20},{"lightness":36.4},{"gamma":1}]},{"featureType":"road.arterial","stylers":[{"hue":"#00FF4F"},{"saturation":0},{"lightness":0},{"gamma":1}]},{"featureType":"road.local","stylers":[{"hue":"#FFB300"},{"saturation":-38},{"lightness":11.2},{"gamma":1}]},{"featureType":"water","stylers":[{"hue":"#00B6FF"},{"saturation":4.2},{"lightness":-63.4},{"gamma":1}]},{"featureType":"poi","stylers":[{"hue":"#9FFF00"},{"saturation":0},{"lightness":0},{"gamma":1}]}]
		};
// using a div with id="map" seen below in the <body>
		var mapElement = document.getElementById('map');
		var map = new google.maps.Map(mapElement, mapOptions);
		var marker = new google.maps.Marker({
			position: myLatlng,
			map: map,
			title:"KLIMAT SERVIS"
		});
}
     </script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
  </body>
</html>