<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="Provádíme návrh, dodávku a odbornou montáž klimatizací do bytů, kanceláří, serveroven a komerčních prostor.">
    <meta name="keywords" content="Karel Znamenáček, KLIMAT SERVIS, klimatizace, opravy klimatizace, servis klimatizace, prodej klimatizace, Acond, Toshiba, servis, opravy, prodej, instalace">
    <meta name="author" content="Ondřej Novák + Filip Oščádal">
	<meta property="og:title" content="KLIMAT SERVIS"/>
	<meta property="og:type" content=""/>
	<meta property="og:url" content="{}"/>
	<meta property="og:image" content="{}"/>
	<meta property="og:site_name" content="KLIMAT SERVIS"/>
	<meta property="fb:app_id" content="{your_app_id}"/>
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/favicon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/favicon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/favicon-72x72.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/favicon-57x57.png">
    <link rel="shortcut icon" sizes="196x196" href="assets/ico/favicon-196x196.png">
    <link rel="shortcut icon" href="assets/ico/favicon-57x57.png">
    <meta name="msapplication-TileImage" content="assets/ico/favicon-114x114.png">
    <meta name="msapplication-TileColor" content="#00FFCC">
    <title>KLIMAT SERVIS – prodej, instalace, opravy a servis klimatizací</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!-- <link href="assets/css/font-awesome.min.css" rel="stylesheet"> //-->
    <link href="assets/css/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script>window.html5 || document.write('<script src="assets/js/html5shiv.min.js"><\/script>')</script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	  <script>window.matchMedia || document.write('<script src="assets/js/respond.min.js"><\/script>')</script>
    <![endif]-->
  </head>
