  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">KLIMAT SERVIS</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="index.html">Vítejte</a></li>
			<li><a href="sluzby.html">Služby</a></li>
            <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Produkty <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="klimatizace-acond-byty.html">ACOND</a></li>
					<li><a href="klimatizace-acond-byty.html">» byty a kanceláře</a></li>
					<li><a href="klimatizace-acond-komercni.html">» komerční prostory</a></li>
					<li class="divider"></li>
					<li><a href="klimatizace-toshiba.html">TOSHIBA</a></li>
					<li class="divider"></li>
					<li><a href="ceniky.html">Ceníky</a></li>
				</ul>
			</li>
			<li class="active"><a href="o-nas.html">O nás</a></li>
            <li><a href="kontakt.html">Kontakty</a></li>
           </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<div id="blue">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h3><strong>Kdo jsme a co děláme</strong></h3>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!--  bluewrap -->

	<div class="container w">
		<div class="row">
			<div class="col-lg-4 col-md-4  col-sm-4 col-xs-9 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-2">
				<h2 class="under">Profil firmy</h2>
				<p class="block">Firma Karel Znamenáček —&nbsp;<strong>KLIMAT SERVIS</strong> byla založena v&nbsp;roce 1990. Nabízíme kompletní služby v&nbsp;oboru klimatizace a&nbsp;chlazení. Orientujeme se především na instalace včetně dodávky klimatizací, opravy a&nbsp;servisní služby.</p>
				<p>Každoročně nainstalujeme desítky klimatizačních zařízení. V&nbsp;současné době smluvně zajišťujeme pravidelný servis na více než 300&nbsp;klimatizačních jednotkách převážně v&nbsp;Praze a&nbsp;Středočeském kraji.</p>
			</div>
			<div class="col-lg-4 col-md-4  col-sm-4 col-xs-9 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
				<h2 class="under mt48">Certifikáty</h2>
				<ul class="block odrazka">
					<li><a href="assets/img/ZL.pdf" >Živnostenský list</a> <span style="white-space:nowrap">–&nbsp;obor</span> "Montáže, opravy a&nbsp;rekonstrukce chladících zařízení a&nbsp;tepelných čerpadel."</li>
					<li><a href="assets/img/Certifikat-MZP.pdf" >Certifikát MŽP kategorie I</a> <span style="white-space:nowrap">–&nbsp;"Povolení</span> k&nbsp;instalacím, opravám, servisu a&nbsp;kontrole těsnosti zařízení <span style="white-space:nowrap">s&nbsp;F–plyny</span> a&nbsp;regulovanými látkami."</li>
					<li><a href="assets/img/Opravneni-ITI.pdf">Oprávnění ITI (Institut technické inspekce)</a> <span style="white-space:nowrap">–&nbsp;k&nbsp;dodavatelským</span> činnostem na elektrických zařízeních.</li>
				</ul>
			</div>


		</div><!-- row -->
		<br>
		<br>
	</div><!-- container -->

	<div id="lg">
		<div class="container">
			<div class="row centered">
				<h3>Naši významní klienti</h3>
				<div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-4 col-xs-4">
					<div class="img-wraper">
						<img src="assets/img/cssz.png" alt="ČSSZ Praha">
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
					<div class="img-wraper">
						<img src="assets/img/dpp.png" alt="Dopravní podnik hlavního města Prahy">
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
					<div class="img-wraper">
						<img src="assets/img/ferona.png" alt="Ferona">
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
					<div class="img-wraper">
						<img src="assets/img/pre.png" alt="PRE distribuce">
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
					<div class="img-wraper">
						<img src="assets/img/accenture.png" alt="Accenture">
					</div>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- dg -->

	<div id="r">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<h4>Cena za dodávku klimatizace včetně montáže je již od <strong>19&nbsp;000&nbsp;Kč bez DPH</strong>.</h4>
				</div>
			</div>
		</div>
	</div>